
.dashboard-wrapper
{
    min-height: 100%;
}


.topnav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkBlue);
    overflow: hidden;
}

.top-button
{
    display: block;

    font-weight: 750;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 25px;

    background-color: var(--darkBlue);
    color: var(--textgreen);
    border-color: var(--vibrantGreen);
}

.top-button:hover
{
    background-color: var(--darkGreen);
    color: var(--textblue);
    border-color: var(--paleblue);

    cursor: pointer;
}

.main-content
{
    background-color: var(--paleblue);
    color: var(--darkBlue);

    padding: 15px;
    border-radius: 15px;

    overflow: scroll;
}

.dashboard-banner
{
    text-align: center;
    background-color: var(--paleblue);
    color: var(--darkBlue);
    font-weight: 900;
    font-size: 5vh;
}