.dashboard-wrapper
{
    min-height: 100%;
}


.topnav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lime;
    overflow: hidden;
}

.topnav .top-button
{
    display: block;
    color: black;
    font-weight: 750;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
}

.topnav .top-button:hover
{
    color: rgb(216, 250, 65);
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
}

.main-content
{
    padding: 10px 0;
    background-color: beige;
}

.dashboard-banner
{
    text-align: center;
    color: skyblue;
    font-weight: 900;
    font-size: 5vh;
}