.vert
{
    padding: 10px;
    margin: 10px;
    width: calc(100% - 20px);
    background-color: var(--darkBlue);
    color: var(--textblue);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.vert-header
{
    font-weight: 700;
    font-size: 2em;
}
/*
.vert-wrapper
{
    
}

.vert-game
{

}
*/
.vert:hover
{
    cursor: pointer;
    color: var(--textgreen);
}

.vert-offline
{
    background-color: var(--inactiveGray);
    
}

.vert-offline:hover
{
    cursor: inherit;
    color: inherit;
}

.info-tag
{
    margin: 0 10px;
    padding: 0 10px;
}

.obj-hidden
{
    display: none;
}