.root {
    --mainBlue: #2f464b;
    --vibrantGreen: #26a037;
    --paleblue: #4d8180;
    --lightblue: #94cbca;
    --darkBlue: #103948;
    --darkGreen: #17560e;
    --inactiveGray: #515455;

    --textblue: #2e8a99;
    --textgreen: #5cbd6b;
    --textwrong: #5f2222;
}

@media all {
    .Login {
        background-color: var(--paleblue);
        color: var(--darkBlue);
        padding: 15px;
        border-radius: 15px;

        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
    }

    .tab-content {
        padding: 10px;
    }

    .error {
        color: #9b1919;
    }

    .nav-tabs .nav-link {
        border-top: 0 solid transparent;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
    }

    #LoginTab {
    }
}